<div class="ecom-nav">
    <div class="container">
        <div class="grid">
            <nav class="col-100">
                {{widget('extendednavigation', 'desktopnav', {"align":"left"})|raw}}
            </nav><!--end col-100-->
        </div><!--end grid-->
    </div><!--end container-->
</div><!--end ecom-nav-->

<header class="bk-header">
    <div class="container">
        <div class="grid">
            <div class="col-80">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div><!--end col-50-->
            <div class="col-20">
                {{widget('ecombasket', 'ecombasket', {})|raw}}
            </div><!--end col-50-->
        </div><!--end grid-->
    </div><!--end container-->
</header>